body {
  background-color:#f3f3f3;
}


h2 {
  font-weight:100;
  color:#074f81;
  line-height:.75em;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  padding:0;
  font-size:2.4em;
  letter-spacing:.05em;
}

h3 {
  font-weight:bold;
  color:#074f81;
  line-height:.75em;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  padding:0;
  font-size:1.2em;
  letter-spacing:.05em;
  padding-bottom:5px;
}

h4,
.h4 {
  font-weight:bold;
  letter-spacing: 0.22em;
  font-size: 0.8em;
}

.tiny-text {
  color:#999;
  text-transform:uppercase;
  letter-spacing:0.22em;
  font-size: 0.8em;
  font-weight: bold;
}

.inline-header {
  color:#009FDF;
  text-transform:uppercase;
  font-size:1em;
  letter-spacing:.05em;
  font-weight:700;
}

p.copyright {
  text-align:center;
  color:#999;
  font-weight:200;
  letter-spacing: .04em;
  padding:18px 0 10px;
}

h5{
  margin:20px 0 10px 0;
  font-size:1.2em;
  font-family:Helvetica Neue,Helvetica,sans-serif;
  letter-spacing:.01em;
  font-weight:200;
  color:#009FDF;
}

ul {
  list-style-type:none;
  padding:15px 0 0 0;
  line-height:1.5em;
}

hr {
  margin:30px 0;
  background-color:#ccc;
  height:1px;
}

a:link, a:visited {
  color:#99bed3;
  font-weight: bold;
}

a:hover {
  color:#074f81;
  text-decoration:none;
}







/* ---------------------------------------Header-------------------------------------- */


nav.navbar {
  background-color:#fff;
}
nav .navbar-brand {
  float: none;
  display: block;
  padding: 0;
  padding: 3px 5px 8px;
  height: auto;
}
nav a.navbar-brand:hover,
nav a.navbar-brand:focus {
  text-decoration: none;
  outline:none;
}

nav .navbar-brand h1 {
  font-family: MontanaTypeface,Helvetica Neue,Helvetica,sans-serif;
  color:#074f81;
  line-height:.8em;
  font-size:3em;
}

nav .navbar-right {
  padding-top: 32px;
}

nav .container > .navbar-collapse {
  margin-right: -15px;
}

nav .navbar-toggle {
  margin-top: 32px;
}

nav .navbar-right a{
  text-transform:uppercase;
  letter-spacing:0.22em;
  font-size:.8em;
  font-weight: 600;
  color:#99bed3;
  text-decoration:none;
  margin-left:20px;
  padding:4px 10px;
  border: 3px solid #fff;
}

nav .navbar-right a:hover {
  color:#074f81;
  text-decoration: none;
}

nav .navbar-right a:focus {
  outline: none;
  border: 3px solid #efefef;
}

nav .navbar-right a.active{
  color:#074f81;
  border: 3px solid #074f81;
}

@media screen and (max-width: 480px) {
  nav .navbar-brand h1 {
    font-size:1.8em;
  }

  nav .navbar-toggle {
    margin-top: 23px;
  }
}






/* ---------------------------------Portfolio: Thumbnail Grid---------------------------- */

.portfolio-container {
  width: 870px;
  margin: 0 auto;
}

.portfolio-items {
  width: 870px;
  margin: 0 auto;
}

/* Every portfolio-item needs identical margins */
.portfolio-item {
  margin-left: 15px;
  margin-right: 15px;
}

/* Only the portfolio-item div is actually a container; todo: add a second class
   for this context */
div.portfolio-item {
  width: 260px;
  background-color: #FFF;
  padding: 0;
  box-shadow: 1px 2px 2px rgba(0,0,0,.05);
  margin-bottom: 30px;
  display: moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

.thumbnail-container{
  padding: 130px 0 30px;
  width:100%;
}

.portfolio-item .img-container{
  height: 260px;
}

.portfolio-item .img-container img{
  width: 260px;
}

.portfolio-item h5{
  padding-left:18px;
  color: #333;
  font-weight:400;
}

h3.portfolio-item{
  margin-top: 40px;
  margin-bottom: 35px;
}

.portfolio-item p{
  padding: 0px 18px 10px 18px;
  font-family:sans-serif;
  font-size: .85em;
  color: #333;
  line-height: 1.4em;
  letter-spacing: .02em;
  font-weight:400;
}





/* -------------------------------------------About----------------------------------------- */

.page-container img.headshot {
  padding:0;
  margin:0;
  max-width:350px;
  width:100%;
}

hr.tight-top{
  padding-top:0;
  margin-top:0;
  border-top:0;
}

button.icon {
  border:none;
  background-color: #fff;
  padding:10px 30px 0 0;
  margin:0;
}

a button.icon:visited,
a button.icon:focus {
  outline: none;
  /*outline-color: #fff;
  outline-style: auto;
  outline-width: 0;*/
}

.page-container img.resumethumb {
  border:1px solid #000;
  box-shadow: 2px 2px 2px rgba(0,0,0,.18);
  width:100%;
  max-width:170px;
  /*display:block;*/
  margin:50px auto 10px;
}


.personal-image-container {
  position: relative;
  text-align: center;
  background-color: black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.personal-image-container:hover .personal-label {
  opacity: 0;
}
.personal-image-container:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}


p.personal-label {
  color:#fff;
  /*border: 3px solid #fff;*/
  padding:4px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -15px auto 0;
  height: 30px;
  line-height: 16px;
  cursor:default;
  /* TODO: transition seems to cause a slight jitter, maybe related to 1/2 pixel. */
  /*transition: opacity 0.3s ease-in-out;*/
}

.page-container img.personal {
  margin: 0;
}

img.personal {
 opacity: 0.5;
 filter: alpha(opacity=50);
 /* TODO: transition seems to cause a slight jitter, maybe related to 1/2 pixel. */
 /*transition: opacity .3s ease-in-out;*/
}








/* ----------------------------------------Page Layout-------------------------------------- */




.page-container {
  max-width:920px;
  margin:0 auto 10px;
  background-color:#fff;
  padding:30px;
  box-shadow: 1px 2px 2px rgba(0,0,0,.05);
  min-height:400px;
}

.page-container.hero-container {
  position: relative;
  padding-top: 420px;
}

.page-container img.hero {
	height: 400px;
  width: 100%;
	background-position: top center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	margin-top: 0;
	background-size: cover;
}

.hero-title {
  position: absolute;
	top: 200px;
	left: 0;
	right: 0;
  margin: -1.5em 0 0;
  line-height: 3em;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: .32em;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.project-block {
  margin-top:20px;
}

.project-pagination {
  margin-top: 45px;
  border-top: 3px solid #99bed3;
}

.project-pagination .prev {
  text-transform: uppercase;
  float: left;
}

.project-pagination .next {
  text-transform: uppercase;
  float: right;
}

.project-pagination:after {
  clear: both;
}


.page-container img {
  max-width:100%;
  margin:8px 0;
}

.page-container .leftbar img {
  margin:6px 0 15px;
}

.page-container h1{
  font-size:3em;
  line-height:.3em;
  padding-bottom:10px;
}

.page-container h5 {
  margin:36px 0 8px 0;
}

.leftbar p.tiny-text{
  margin:5px 0 0;
  color:#333;
  font-style:normal;
  font-weight:500;
  letter-spacing:.08em;
}

.leftbar p {
  font-style:italic;
  font-size:.82em;
  margin-bottom:18px;
  letter-spacing:.04em;
}

.leftbar {
  padding-top:55px;
}




iframe,
.issuuembed {
  max-width:100%;
}

.page-container .col-sm-6 img {
  margin:8px 0;
}

button.learnmore {
  width:100%;
  height:60px;
  text-align:center;
  margin-top:20px;
  background:#99bed3;
  border:none;
  font-weight:bold;
  color:#FFF;
  border-radius:3px;
}

button.learnmore:hover {
  background-color:#074f81;
}

button.learnmore:focus {
  outline:none;
  box-shadow: 1px 2px 2px rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.2);
}

/*button.learnmore {
  width:100%;
  height:60px;
  text-align:center;
  margin-top:20px;
  background:#fff;
  border:3px solid #99bed3;
  font-weight:bold;
  color:#99bed3;
}

button.learnmore:hover {
  border: 3px solid #074f81;
  color:#074f81;
}*/




/* ----------------------------------------Isotope-------------------------------------- */




    .isotope {
      /* change duration value to whatever you like */
      -webkit-transition-duration: 250ms;
         -moz-transition-duration: 250ms;
          -ms-transition-duration: 250ms;
           -o-transition-duration: 250ms;
              transition-duration: 250ms;
    }
    .isotope .isotope-item {
      /* change duration value to whatever you like */
      -webkit-transition-duration: 0.8s;
         -moz-transition-duration: 0.8s;
          -ms-transition-duration: 0.8s;
           -o-transition-duration: 0.8s;
              transition-duration: 0.8s;
    }

    .isotope {
      -webkit-transition-property: height, width;
         -moz-transition-property: height, width;
          -ms-transition-property: height, width;
           -o-transition-property: height, width;
              transition-property: height, width;
    }

    .isotope .isotope-item {
      -webkit-transition-property: -webkit-transform, opacity;
         -moz-transition-property:    -moz-transform, opacity;
          -ms-transition-property:     -ms-transform, opacity;
           -o-transition-property:      -o-transform, opacity;
              transition-property:         transform, opacity;
    }

    /**** disabling Isotope CSS3 transitions ****/

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
      -webkit-transition-duration: 0s;
         -moz-transition-duration: 0s;
          -ms-transition-duration: 0s;
           -o-transition-duration: 0s;
              transition-duration: 0s;
    }
